<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Staff'" [items]="['Staff']" [active_item]="'Add Staff'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Personal Information</strong></h2>
          </div>
          <div class="body">
          <form class=" m-4" [formGroup]="perForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstname"  required>
                  <mat-error *ngIf="perForm.get('firstname')?.hasError('required')">
                    First name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastname" required>
                  <mat-error *ngIf="perForm.get('lastname')?.hasError('required')">
                    Last name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3 " appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email"  required>
                  <mat-error *ngIf="perForm.get('email')?.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" required>
                  <mat-error *ngIf="perForm.get('password')?.hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option [value]="'ADMIN'">ADMIN</mat-option>
                    <mat-option [value]="'DOCTOR'">DOCTOR</mat-option>
                    <mat-option [value]="'NURSE'">NURSE</mat-option>
                  </mat-select>
                  <mat-error *ngIf="perForm.get('role')?.hasError('required')">
                    First name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3" *ngIf="perForm.get('role')?.value === 'DOCTOR'">
                <mat-form-field class="example-full-width mb-3 " appearance="outline">
                  <mat-label>Select Department</mat-label>
                  <mat-select formControlName="department" required>
                    <mat-option [value]="'Medecin généraliste'">Medecin généraliste</mat-option>
                    <mat-option [value]="'Cardiologue'">Cardiologue</mat-option>
                    <mat-option [value]="'Dermatologue'">Dermatologue</mat-option>
                    <mat-option [value]="'Ophtalmologiste'">Ophtalmologiste</mat-option>
                    <mat-option [value]="'Psychiatre'">Psychiatre</mat-option>
                    <mat-option [value]="'Gynécologue'">Gynécologue</mat-option>
                    <mat-option [value]="'Neurologue'">Neurologue</mat-option>
                    <mat-option [value]="'Dentiste'">Dentiste</mat-option>
                  </mat-select>
                  <mat-error *ngIf="perForm.get('department')?.hasError('required')">
                    First name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>              
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3" style="margin-left: 12px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" >
                  <label for="fileUpload" class="custom-file-upload">
                    <input type="file" id="fileUpload" class="form-control-file" (change)="onFileSelected($event)" accept=".pdf">
                    <div class="select-file-button">Choose File</div>
                    <span class="selected-file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
                    <span class="selected-file-name" *ngIf="!selectedFile">No file chosen</span>
                  </label>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3" style="margin-top: 40px;">
                <div class="example-button-row">
                <button class="btn-space" [disabled]="!perForm.valid" mat-raised-button color="primary">Submit</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel">Cancel</button></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


