.centered-header {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur nécessaire */
  }
  
  
