<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Monitoring'" [items]="[]" [active_item]="'Monitoring'"></app-breadcrumb>
    </div>
    <form [formGroup]="monitoringForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div style="text-align: center; margin-top: 20px;">
          <h2>Health Assessment</h2> <!--Douleur-->
          <strong>Patient Ky : </strong>
        <span>{{ userKy }}</span>
        </div>
        <div class="header">
          <h2>Physical Assessment</h2>
        </div>
        <div class="body">
          <div class="example-container">
            <div class="row-container">
              <h6 style="margin-right: 20px; margin-bottom: 35px;">General informations</h6>
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Pain level</mat-label>
                <mat-select formControlName="genInf" required>
                  <mat-option [value]="'No pain'" style="color: rgb(3, 90, 23);">
                    <mat-icon>sentiment_satisfied_alt</mat-icon> No pain
                  </mat-option>
                  <mat-option [value]="'Low Pain'" style="color: rgb(113, 183, 43);">
                    <mat-icon>sentiment_satisfied</mat-icon> Low Pain
                  </mat-option>
                  <mat-option [value]="'Average pain'" style="color: rgb(208, 193, 64);">
                    <mat-icon>sentiment_neutral</mat-icon> Average pain
                  </mat-option>
                  <mat-option [value]="'Severe pain'" style="color: rgb(209, 123, 25);">
                    <mat-icon>sentiment_dissatisfied</mat-icon> Severe pain
                  </mat-option>
                  <mat-option [value]="'Unbearable pain'" style="color: rgb(161, 20, 9);">
                    <mat-icon>sentiment_very_dissatisfied</mat-icon> Unbearable pain
                  </mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-form-field class="small-input" appearance="outline" style="margin-left: 19px;">
                <mat-label>Choose Allergies</mat-label>
                <mat-select formControlName="allergies" multiple>
                  <mat-option *ngFor="let all of allergyOptions" [value]="all">
                    {{ all.allergyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-form-field class="small-input" appearance="outline" style="margin-left: 20px;" >
                <mat-label>Height </mat-label>
                <input matInput type="text" formControlName="height" placeholder="height">
              </mat-form-field>
              <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
              <mat-form-field class="small-input" appearance="outline">
                <mat-label>Weight</mat-label>
                <input matInput type="text" formControlName="weight" placeholder="weight">
              </mat-form-field>
              <span class="text-fixe" style="margin-bottom: 35px;">Kg</span>
           </div> 
           <div class="row-container">
              <h6 style="margin-right: 20px; margin-bottom: 35px;">Wound measurement</h6>
              <mat-form-field class="small-input" appearance="outline">
                <mat-label>Length </mat-label>
                <input matInput type="text" formControlName="length_w" placeholder="Length">
              </mat-form-field>
              <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
              <mat-form-field class="small-input" appearance="outline">
                <mat-label>Width</mat-label>
                <input matInput type="text" formControlName="width_w" placeholder="Width">
              </mat-form-field>
              <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
              <mat-form-field class="small-input" appearance="outline">
                <mat-label>Depth</mat-label>
                <input matInput type="text" formControlName="depth_w" placeholder="Depth">
              </mat-form-field>
              <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
          </div>
          <div class="row-container">      
            <h6 style="margin-right: 20px; margin-bottom: 35px;">Scar measurement</h6>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Length </mat-label>
              <input matInput type="text" formControlName="length_s" placeholder="Length" >
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px; ">Cm</span>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Width</mat-label>
              <input matInput type="text" formControlName="width_s" placeholder="Width" class="small-input">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Depth</mat-label>
              <input matInput type="text" formControlName="depth_s" placeholder="Depth" class="small-input">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">Cm</span>
          </div> 
          <div class="row-container">
            <h6 style="margin-right: 60px; margin-bottom: 35px;">Vital Signs</h6>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Temperature </mat-label>
              <input matInput type="text" formControlName="temperature" placeholder="Temperature">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">°C</span>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Respiratory Frequency</mat-label>
              <input matInput type="text" formControlName="respiratory" placeholder="Respiratory Frequency">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">/min</span>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Heart Rythm</mat-label>
              <input matInput type="text" formControlName="heart" placeholder="Heart Rythm">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">/min</span>
          </div>
          <div class="row-container">
            <h6 style="margin-right: 20px; margin-bottom: 35px;">Blood pressure measurement</h6>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Systolic pressure </mat-label>
              <input matInput type="text" formControlName="systolic" placeholder="Systolic pressure">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">mmHg</span>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Diastolic pressure</mat-label>
              <input matInput type="text" formControlName="diastolic" placeholder="Diastolic pressure">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">mmHg</span> 
          </div>
          <div class="row-container">
            <h6 style="margin-right: 20px; margin-bottom: 35px;">Blood glucose measurement</h6>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Glycemic</mat-label>
              <input matInput type="text" formControlName="gly" placeholder="Blood glucose">
            </mat-form-field>
            <span class="text-fixe" style="margin-bottom: 35px;">mg/dl</span>
          </div>
          <div class="row-container">
            <h6 style="margin-right: 20px; margin-bottom: 35px;">Observations</h6>
            <mat-form-field class="small-input" appearance="outline">
              <mat-label>Comments</mat-label>
              <input matInput type="text" formControlName="comment" placeholder="Comments">
            </mat-form-field>
          </div> 
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
              <button class="btn-space" mat-raised-button color="primary" type="submit">Save</button>
              <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </div>
          </div>
          </div>
        </div>    
      </div>      
    </form>
  </div>
</section>

