<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'CarePlan'" [items]="[]" [active_item]="'CarePlan'"></app-breadcrumb>
    </div>
    <div class="card">
      <div style="text-align: center; margin-top: 20px;">
        <h2>Health Assessment</h2> <!--Douleur-->
      </div>
      <div class="body">
        <div class="example-container">
          <div class="row-container">
            <h6 style="margin-right: 60px; margin-bottom: 50px;">Physical Assessment :</h6>
            <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
              <mat-label>Plan </mat-label>
              <textarea matInput type="text" placeholder="Notes"></textarea>
            </mat-form-field>
         </div> 
         <div class="row-container">
          <h6 style="margin-right: 20px; margin-bottom: 50px;">Psychological Assessment :</h6>
          <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
            <mat-label>Plan </mat-label>
            <textarea matInput type="text" placeholder="Notes"></textarea>
          </mat-form-field>
         </div> 
         <div class="row-container">
          <h6 style="margin-right: 90px; margin-bottom: 50px;">Pain Assessment :</h6>
          <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
            <mat-label>Plan </mat-label>
            <textarea matInput type="text" placeholder="Notes"></textarea>
          </mat-form-field>
         </div> 
         <div class="row-container">
          <h6 style="margin-right: 140px; margin-bottom: 50px;">Vital signs :</h6>
          <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
            <mat-label>Plan </mat-label>
            <textarea matInput type="text" placeholder="Notes"></textarea>
          </mat-form-field>
         </div> 
      <div class="row-container">
        <h6 style="margin-right: 120px; margin-bottom: 35px;">Observations :</h6>
        <mat-form-field class="small-input" appearance="outline">
          <mat-label>Comments </mat-label>
          <textarea matInput type="text" placeholder="Notes" ></textarea>
        </mat-form-field>
      </div>              
        </div>
      </div>
    </div>
 <div class="card">
  <div style="text-align: center; margin-top: 20px;">
    <h2>Treatment goals</h2> <!--Douleur-->
  </div>
  <div class="body">
    <div class="example-container">
      <div class="row-container">
        <h6 style="margin-right: 40px; margin-bottom: 50px;">Specific goals :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
       <div class="row-container">
        <h6 style="margin-right: 20px; margin-bottom: 50px;">Short-term goals :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
       <div class="row-container">
        <h6 style="margin-right: 23px; margin-bottom: 50px;">Long-term goals :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
    <div class="row-container">
      <h6 style="margin-right: 46px; margin-bottom: 35px;">Observations :</h6>
      <mat-form-field class="small-input" appearance="outline">
        <mat-label>Comments </mat-label>
        <textarea matInput type="text" placeholder="Notes" ></textarea>
      </mat-form-field>
    </div>        
  </div>
</div>
</div>
<div class="card">
  <div style="text-align: center; margin-top: 20px;">
    <h2>Planned Interventions</h2> <!--Douleur-->
  </div>
  <div class="body">
    <div class="example-container">
      <div class="row-container">
        <h6 style="margin-right: 59px; margin-bottom: 50px;">Specific nursing care :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
       <div class="row-container">
        <h6 style="margin-right: 20px; margin-bottom: 50px;">Medication administration :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
       <div class="row-container">
        <h6 style="margin-right: 68px; margin-bottom: 50px;">Medical procedures :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
       <div class="row-container">
        <h6 style="margin-right: 106px; margin-bottom: 50px;">Technical care :</h6>
        <mat-form-field class="small-input" style="margin-bottom: 20px;" appearance="outline">
          <mat-label>Plan </mat-label>
          <textarea matInput type="text" placeholder="Notes"></textarea>
        </mat-form-field>
       </div> 
    <div class="row-container">
      <h6 style="margin-right: 115px; margin-bottom: 35px;">Observations :</h6>
      <mat-form-field class="small-input" appearance="outline">
        <mat-label>Comments </mat-label>
        <textarea matInput type="text" placeholder="Notes" ></textarea>
      </mat-form-field>
    </div>        
  </div>
</div>
</div>
  </div>
  
</section>
